# C++ objects and libs

*.db
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
CMakeLists.txt.user
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*.*.Debug
*.*.Release
/build
/msbuild
*.txt.user
*.aps

# QtCreator
*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

#MSVS Project files
*.opensdf
*.vcxproj
*.vcxproj.filters
*.sdf
*.vcxproj
*.vcxproj.filters
