language: cpp
compiler:
    - g++

before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test
    - sudo add-apt-repository --yes ppa:ubuntu-sdk-team/ppa
    - sudo apt-get update -qq

install:
    - sudo apt-get install -qq gcc-4.8 g++-4.8
    - sudo apt-get install -qq qt5-qmake qtbase5-dev qtdeclarative5-dev libqt5webkit5-dev
    - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.8 90

before_script:
    - qmake -qt=qt5

script:
    - make

notifications:
    email:
        on_success: change
        on_failure: always

os:
    - linux
