sudo: false
language: cpp
cache: ccache
compiler: clang
before_install:
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install qt5    ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install ninja  ; fi
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then brew install ccache ; fi
before_script:
  - cmake . -G "Ninja" -DCMAKE_PREFIX_PATH="/usr/local/opt/qt5/lib/cmake"
script:
- ccache ninja
os:
- osx