#mainPanel {
    margin: 0;
    padding: 0;
}

#systemPanel {
    margin: 0;
    padding: 0;
}

#centralWidget {
    /*background: #22262F; !* Window background color *!*/
}

#mainPanelScrollArea {
    border: none;
}

#dialogScrollArea {
    border: none;
}

/* System buttons */
#pushButtonMaximize, #pushButtonMinimize, #pushButtonClose {
    border: none;
    width: 14px;
    height: 14px;
}

#pushButtonMaximize {
    image: url(:/system_menu/icons/maximize.png);
}

#pushButtonMaximize:hover {
    image: url(:/system_menu/icons/maximize_hover.png);
}

#pushButtonMinimize {
    image: url(:/system_menu/icons/minimize.png);
}

#pushButtonMinimize:hover {
    image: url(:/system_menu/icons/minimize_hover.png);
}

#pushButtonClose {
    image: url(:/system_menu/icons/close.png);
}

#pushButtonClose:hover {
    image: url(:/system_menu/icons/close_hover.png);
}
