#mainPanel {
    margin: 0;
    padding: 0;
}

#systemPanel {
    margin: 0;
    padding: 0;
}

#ascensionDialog {
    margin: 0;
    padding: 0;
}

#centralWidget {
    background: #22262F; /* Window background color */
}

#mainPanelScrollArea {
    border: none;
}

#dialogScrollArea {
    border: none;
}

/* System buttons */
#pushButtonMaximize, #pushButtonMinimize, #pushButtonClose {
    border: none;
    width: 14px;
    height: 14px;
}

#pushButtonMaximize {
    padding: 0 8px 0 8px;
    image: url(:/SystemMenu/Icons/Maximize.png);
}

#pushButtonMaximize:hover {
    image: url(:/SystemMenu/Icons/MaximizeHover.png);
}

#pushButtonMinimize {
    padding: 0 7px 0 0;
    image: url(:/SystemMenu/Icons/Minimize.png);
}

#pushButtonMinimize:hover {
    image: url(:/SystemMenu/Icons/MinimizeHover.png);
}

#pushButtonClose {
    padding: 0 0 0 7px;
    image: url(:/SystemMenu/Icons/Close.png);
}

#pushButtonClose:hover {
    image: url(:/SystemMenu/Icons/CloseHover.png);
}
